@charset "UTF-8";
/*centrer l'élément*/
/*padding left+right*/
/*gradient color*/
body {
  margin: 0;
  padding: 0em;
}

/*logo et titres*/
@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto/Roboto-Regular.ttf");
}

/*texte*/
@font-face {
  font-family: "Shrikhand";
  src: url("../../public/fonts/Shrikhand/Shrikhand-Regular.ttf");
}

/*bouton header "Explorer nos restaurants"*/
#search {
  background: #FF79DA;
  background: linear-gradient(135deg, #FF79DA 0%, #9356DC 100%);
  padding: 1em;
  border-radius: 3em;
  width: 15em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#search:link {
  color: white;
}

#search:hover {
  background-color: #9356DC;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

header {
  font-family: Roboto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

header .logo_header {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

header #location {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: space-between;
          flex-flow: space-between;
  text-align: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-box-shadow: inset 0px 15px 8px -10px #CCC;
          box-shadow: inset 0px 15px 8px -10px #CCC;
}

header #location .fa-map-marker-alt {
  padding-right: 1em;
  text-align: center;
  margin-left: auto;
}

header #location .location_text {
  text-align: center;
  margin-right: auto;
}

header .slogan_and_search {
  background-color: #f6f6f6;
  height: 18em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 2em;
}

header .slogan_and_search #slogan {
  font-size: 1em;
  margin-left: 3em;
  margin-right: 3em;
}

header .slogan_and_search #slogan h1 {
  font-size: 1.5em;
  margin-left: 3em;
  margin-right: 3em;
}

#usage {
  padding-left: 1em;
  padding-right: 1em;
  font-family: Roboto;
}

#usage #usage_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 3em;
  margin-right: 2em;
}

#usage #usage_step .step {
  margin: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#usage #usage_step .step .step_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5em;
  background-color: #9356DC;
  color: white;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translate(50%, 80%);
          transform: translate(50%, 80%);
}

#usage #usage_step .step .step_description {
  background-color: #f6f6f6;
  width: 100%;
  height: 4em;
  border-radius: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#usage #usage_step .step .step_description .step_logo {
  text-align: center;
  margin: auto;
}

#usage #usage_step .step .step_description .fa-mobile-alt, #usage #usage_step .step .step_description .fa-ellipsis-v, #usage #usage_step .step .step_description .fa-bars {
  color: #7e7e7e;
}

#usage #usage_step .step .step_description .fa-store {
  color: #9356DC;
}

#usage #usage_step .step .step_description .step2_logo {
  text-align: center;
  margin: auto;
}

#usage #usage_step .step .step_description .fa-ellipsis-v {
  width: 0.2em;
}

#usage #usage_step .step .step_description .step_text {
  text-align: center;
  margin: auto;
  font-weight: bold;
}

#usage #usage_step .step .step_description .blank {
  text-align: center;
  margin: auto;
}

#usage #usage_step .step .step3 {
  background-color: #f5edff;
}

#section_restaurants {
  padding-left: 1em;
  padding-right: 1em;
  font-family: Roboto;
  background-color: #f6f6f6;
  padding-top: 2em;
  padding-bottom: 2em;
}

#section_restaurants h2 {
  font-weight: bold;
}

.restaurant {
  background-color: white;
  border-radius: 1em;
  height: auto;
  width: 100%;
  margin-bottom: 2em;
}

.bloc_img {
  position: relative;
}

.bloc_img .restaurant_img {
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 15em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.bloc_img .new {
  color: #356d60;
  background-color: #99E2D0;
  width: 6em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 75%;
}

.bloc_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.restaurant_name {
  line-height: 0.5em;
  color: black;
}

.fa-heart {
  color: black;
  font-size: 2em;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.fa-heart:hover {
  color: #FF79DA;
  color: -moz-linear-gradient(-45deg, #FF79DA 0%, #9356DC 100%);
  color: -webkit-linear-gradient(-45deg, #FF79DA 0%, #9356DC 100%);
  color: linear-gradient(135deg, #FF79DA 0%, #9356DC 100%);
}

footer {
  background-color: #353535;
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: Roboto;
  font-size: 1.2em;
  line-height: 1.5em;
}

footer a {
  color: white;
}

.logo_footer {
  color: white;
  font-family: Shrikhand;
  padding-left: 1em;
}

ul {
  text-decoration: none;
  list-style: none;
  padding-left: 1em;
}

.fa-utensils {
  padding-right: 0.7em;
}

.fa-handshake {
  padding-right: 0.3em;
}
/*# sourceMappingURL=main.css.map */