/*animation valider menu du restaurant*/
.menu_choice:hover {
    .dishandprice {
        width: 82%;              
        .dish {
            width: 90%;
        }
        .price {
            width: 10%;
        }
    }
    .check_animation {
        background-color: $tertiary;
        display: flex;
        height: 100%;
        width: 18%;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;

        transform-origin: 100% 0%;
        transform: scaleX(1);
        transition: transform 0.3s;
        .fa-check-circle {
            margin: auto;
            font-size: 1.5em;
            transform: rotate(0deg);
            transition: transform 0.3s ease-in-out;
        }
    
    }
}

.check_animation {
    transform: scaleX(0);
    .fa-check-circle {
        color: white;
        transform: rotate(-180deg);
    }
}