/*bouton header "Explorer nos restaurants" page 1*/
#search {
    @include gradient;
    padding: 1em;
    border-radius: 3em;
    width: 15em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    &:link {
        color: white;
    }
    &:hover {
        background-color: $primary;
    }
}

/*bouton "Commander" pages menu restaurants*/
.buttondiv {
    display: flex;
    margin: 4em;
    #order {
        @include gradient;
        padding: 1em;
        border-radius: 3em;
        width: 15em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: white;
        &:link {
            color: white;
        }
        &:hover {
            background-color: $primary;
        }
    }
}