/*bouton header "Explorer nos restaurants"*/
#search {
    @include gradient;
    padding: 1em;
    border-radius: 3em;
    width: 15em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    &:link {
        color: white;
    }
    &:hover {
        background-color: $primary;
    }
}