/*bouton header "Explorer nos restaurants" page 1*/
@media (max-width: 750px) {
    #search {
        @include gradient;
        padding: 1em;
        border-radius: 3em;
        width: 15em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: white;
        &:link {
            color: white;
        }
        &:hover {
            @include gradient3;
            box-shadow: 1px 1px 10px black;
        }
    }
}

@media (min-width: 750px) {
    #search {
        display: none;
        @include gradient;
        padding: 1em;
        border-radius: 3em;
        width: 15em;
        text-align: center;
        color: white;
        margin-top: 1.5em;
        &:link {
            color: white;
        }
        &:hover {
            background-color: $primary;
        }
    }    
}


/*bouton "Commander" pages menu restaurants*/
.buttondiv {
    display: flex;
    margin: 4em;
    #order {
        @include gradient;
        font-family: Roboto;
        padding: 1em;
        border-radius: 3em;
        width: 15em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: white;
        &:link {
            color: white;
        }
        &:hover {
            @include gradient3;
            box-shadow: 1px 1px 10px black;
        }
    }
}