/*logo et titres*/
@font-face 
{
    font-family: "Roboto";
    src: url('../../../JimmyHeller_3_30062021/public/fonts/Roboto/Roboto-Regular.ttf');
}

/*texte*/
@font-face 
{
    font-family: "Shrikhand";
    src: url('../../../JimmyHeller_3_30062021/public/fonts/Shrikhand/Shrikhand-Regular.ttf');
}
