/*centrer l'élément*/
@mixin center {
    margin-left: 50%;
    margin-right: 50%
}

/*padding left+right*/
@mixin padding {
    padding-left: 1em;
    padding-right: 1em;
}

/*gradient color*/
@mixin gradient {
    background: #FF79DA;
    background: -moz-linear-gradient(-45deg, #FF79DA 0%, #9356DC 100%);
    background: -webkit-linear-gradient(-45deg, #FF79DA 0%, #9356DC 100%);
    background: linear-gradient(135deg, #FF79DA 0%, #9356DC 100%);
}

@mixin gradient2 {
    background: #FF79DA;
    background: -moz-linear-gradient(-45deg, #FF79DA 0%, #9356DC 100%);
    background: -webkit-linear-gradient(-45deg, #FF79DA 0%, #9356DC 100%);
    background: linear-gradient(135deg, #FF79DA 0%, #9356DC 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}