footer {
    background-color: $dark;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: Roboto;
    font-size: 1.2em;
    line-height: 1.5em;
    & a {
        color: white;
    }
}

.logo_footer {
    color: white;
    font-family: Shrikhand;
}

@media (max-width: 750px) {
    .logo_footer {
        padding-left: 1em;
    }
}

ul {
    text-decoration: none;
    list-style: none;
    padding-left: 0;
}

@media (max-width: 750px) {
    ul {
        padding-left: 1em;
    }
}

.fa-utensils {
    padding-right: 0.7em;
}

.fa-handshake {
    padding-right: 0.3em;
}