footer {
    background-color: $dark;
}

    .logo_footer {
        color: white;
        padding-left: 1em;
    }

    li {
            text-decoration: none;
            list-style-type: none; 
            color: white;
    }