.imgandmain {
    .backgroundimg1 {
        background-image: url(../../public/Maquettes_Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 18em;
    }
}

.main2 {
    font-family: Roboto;
    background-color: $grey1;
    padding: 1em;
    padding-top: 2em;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    margin-top: -3em;
    .restaurant_name {
        font-family: Shrikhand;
        display: flex;
        justify-content: space-between;
        padding-right: 2em;
        h2 {
            font-size: 2em;
            line-height: 1em;
        }
    }
    h3 {
        border-bottom: solid $tertiary;
        border-width: 0.2em;
        width: 2.5em;   
        padding-bottom: 0.2em;
    }
    .menu_category {
        display: flex;
        flex-direction: column;
        .sub_category {
            .menu_choice {
                background-color: white;
                border-radius: 1em;
                display: flex;
                justify-content: space-between;
                height: 5em;
                margin-bottom: 1em;
                color: black;
                opacity: 0;
                .dishandprice {
                    background-color: white;
                    border-radius: 1em;
                    display: flex;
                    height: 5em;                   
                    margin-bottom: 1em;
                    width: 100%;
                    .dish {
                        padding-left: 1em;
                        padding-right: 1em;
                        align-self: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 90%;
                        h4 {
                            line-height: 1em;
                            margin-top: 0;
                            margin-bottom: 0.5em;
                        }
                    }
                    .price {
                        text-align: center;
                        align-self: flex-end;
                        font-weight: bold;
                        width: 10%;
                        padding-bottom: 1em;
                        padding-right: 1em;
                    }
                }
            }
        }
    }
}

.restaurant_img2 {
    width: 100%;
    height: 10em;
    object-fit: cover;
}

@media (min-width: 750px) {
    .main2 {
        .restaurant_name {
            margin-bottom: 2em;
            h2 {
                font-size: 3em;
                line-height: 1em;
                padding-left: 1em;
                margin: auto;
            }
        }
    }

    .div_menus {
        display: flex;
        justify-content: space-around;
        .menu_category {
            width: 30%;
            .sub_category {
                width: 100%;
            }
        }
    }
}