#section_restaurants {
    font-family: Roboto;
    background-color: $grey2;
    padding-top: 2em;

    h2 {
        font-weight: bold;
    }

    .restaurants {
        display: flex;
        .bloc_img {
            
            .restaurant_img {
                object-fit: cover;
                align-self: center;
                margin-left: auto;
                margin-right: auto;
                width: 40vw;
                max-height: 60vh;
            }

            .new {


            }
        }

        .bloc_txt {


        }
    }
}