#section_restaurants {
    @include padding;
    font-family: Roboto;
    background-color: $grey2;
    padding-top: 2em;
    padding-bottom: 2em;

    h2 {
        font-weight: bold;
    }
}

@media (min-width: 750px) {
    #section_restaurants {
        padding-left: 3em;
        padding-right: 3em;
    }
}

.restaurant {
    background-color: white;
    border-radius: 1em;
    height: auto;
    width: 100%;
    margin-bottom: 2em;
}

.bloc_img {
    position: relative;
    .restaurant_img {
        object-fit: cover;
        align-self: center;
        justify-self: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 15em;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    .new {
        color: #356d60;
        background-color: $tertiary;
        width: 6em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        font-weight: bold;
        position: absolute;
        top: 10%;
        left: 75%;
    }
}

.bloc_txt {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.restaurant_name {
    line-height: 0.5em;
    color: black;

}

@media (max-width: 319px) {
    .bloc_img {
        .new {
            left: 55%;
        }
    }
}

@media (min-width: 319px) and (max-width: 367px) {
    .bloc_img {
        .new {
            left: 65%;
        }
    }
}

@media (min-width: 367px) {
    .bloc_img {
        .new {
            left: 70%;
        }
    }
}

@media (min-width: 750px) {
    .restaurants {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        .restaurant {
            max-width: 45%;
        }
    }
}